<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="row text-center">
      <div class="col-lg-6">
        <h1 class="display-3 text-white">Trip 1</h1>
      </div>
      <br /><br />
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d31910.228597744695!2d103.79185031856485!3d1.3080792389392921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e0!4m5!1s0x31da19e517e1afdf%3A0x572b58279fe8e4ac!2sBarker%20Road%2C%20Methodist%20Welfare%20Services%2C%20Singapore!3m2!1d1.3187583!2d103.8340094!4m5!1s0x31da1bc0936c8c15%3A0xfb07530b80baddab!2sMOE%20HQ%20(Buona%20Vista)%2C%20Singapore!3m2!1d1.3054021!2d103.79092709999999!4m5!1s0x31da1a4fdcdcb793%3A0x560828fd88f7aa6!2sAyer%20Rajah%20Crescent%2C%20JTC%20Launchpad%2C%20Singapore!3m2!1d1.2974124!2d103.7875038!4m5!1s0x31da1a5180e324bb%3A0xb9734b40675a0ca3!2sLower%20Kent%20Ridge%20Road%2C%20NUH%2C%20Singapore!3m2!1d1.2937277999999999!2d103.78317559999999!5e0!3m2!1sen!2shk!4v1570168675966!5m2!1sen!2shk"
          width="600"
          height="450"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>

    <br /><br />

    <div class="col px-0">
      <div class="row text-center">
        <div class="col-lg-6">
          <div class="btn-wrapper">
            <a
              href="https://www.google.com/maps/dir/60+Barker+Rd,+Anglo-Chinese+School+(Barker+Road),+Singapore+309919/Diabetes+Singapore,+Singapore/Lions+Befrienders+(Bendemeer)+Senior+Activity+Centre,+Singapore/Singapore+347773/@1.3228506,103.8464036,15z/data=!3m1!4b1!4m26!4m25!1m5!1m1!1s0x31da19e4fdd5e795:0xcfa26947feba27e6!2m2!1d103.8357896!2d1.3196616!1m5!1m1!1s0x31da19d1f1e95625:0x556c0f9e14d3dc2c!2m2!1d103.861459!2d1.3181563!1m5!1m1!1s0x31da19d3ca88f11f:0xf4f883b3883a3e77!2m2!1d103.8632811!2d1.3197579!1m5!1m1!1s0x31da1786e41b11fb:0x1300f7ac70e17646!2m2!1d103.875072!2d1.329208!3e2"
              class="btn btn-info btn-icon mb-3 mb-sm-0"
            >
              <span class="btn-inner--text">Let's drive</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <br /><br />

    <div class="container">
      <div class="row text-center">
        <div class="col-lg-6">
          <h1 class="display-3 text-white">Nearest Car Park</h1>
        </div>
        <br /><br /><br /><br />
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img
              src=".\assets\img\brand\carpark1.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              style="width: 200px;"
            />
            <div class="pt-4">
              <h3 class="title">
                <span class="d-block mb-1 text-white text-center"
                  >MOE Visitor Car Park</span
                >
                <p class="h4 text-white text-center">32/51 slots</p>
                <p class="h5 text-white">Fee</p>
                <p class="h5 text-white">- $1.80 1st 2hours</p>
                <p class="h5 text-white">- $3.00 subsequent 1 hour</p>
                <p class="h5 text-white">Ceiling height: 3.50m</p>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col px-0">
      <div class="row text-center">
        <div class="col-lg-6">
          <div class="btn-wrapper">
            <a
              href="https://www.google.com/maps/dir/60+Barker+Rd,+Anglo-Chinese+School+(Barker+Road),+Singapore+309919/Diabetes+Singapore,+Singapore/Lions+Befrienders+(Bendemeer)+Senior+Activity+Centre,+Singapore/Singapore+347773/@1.3228506,103.8464036,15z/data=!3m1!4b1!4m26!4m25!1m5!1m1!1s0x31da19e4fdd5e795:0xcfa26947feba27e6!2m2!1d103.8357896!2d1.3196616!1m5!1m1!1s0x31da19d1f1e95625:0x556c0f9e14d3dc2c!2m2!1d103.861459!2d1.3181563!1m5!1m1!1s0x31da19d3ca88f11f:0xf4f883b3883a3e77!2m2!1d103.8632811!2d1.3197579!1m5!1m1!1s0x31da1786e41b11fb:0x1300f7ac70e17646!2m2!1d103.875072!2d1.329208!3e2"
              class="btn btn-info btn-icon mb-3 mb-sm-0"
            >
              <span class="btn-inner--text viewMore">View more</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row text-center">
          <div class="col-lg-6">
            <h1 class="display-3 text-white">Nearest Car Park</h1>
          </div>
          <br /><br /><br /><br />
        </div>
  
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="px-4">
              <img
                src=".\assets\img\brand\carpark1.jpg"
                class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                style="width: 200px;"
              />
              <div class="pt-4">
                <h3 class="title">
                  <span class="d-block mb-1 text-white text-center"
                    >MOE Visitor Car Park</span
                  >
                  <p class="h4 text-white text-center">32/51 slots</p>
                  <p class="h5 text-white">Fee</p>
                  <p class="h5 text-white">- $1.80 1st 2hours</p>
                  <p class="h5 text-white">- $3.00 subsequent 1 hour</p>
                  <p class="h5 text-white">Ceiling height: 3.50m</p>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
          <div class="row text-center">
            <div class="col-lg-6">
              <h1 class="display-3 text-white">Nearest Petrol</h1>
            </div>
            <br /><br /><br /><br />
          </div>
    
          <div class="row">
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
              <div class="px-4">
                <img
                  src=".\assets\img\brand\petrol.jpg"
                  class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                  style="width: 200px;"
                />
                <div class="pt-4">
                  <h3 class="title">
                    <span class="d-block mb-1 text-white text-center"
                      >ESSO Queensway A</span
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      <div class="col px-0">
        <div class="row text-center">
          <div class="col-lg-6">
            <div class="btn-wrapper">
              <a
                href="https://www.google.com/maps/dir/60+Barker+Rd,+Anglo-Chinese+School+(Barker+Road),+Singapore+309919/Diabetes+Singapore,+Singapore/Lions+Befrienders+(Bendemeer)+Senior+Activity+Centre,+Singapore/Singapore+347773/@1.3228506,103.8464036,15z/data=!3m1!4b1!4m26!4m25!1m5!1m1!1s0x31da19e4fdd5e795:0xcfa26947feba27e6!2m2!1d103.8357896!2d1.3196616!1m5!1m1!1s0x31da19d1f1e95625:0x556c0f9e14d3dc2c!2m2!1d103.861459!2d1.3181563!1m5!1m1!1s0x31da19d3ca88f11f:0xf4f883b3883a3e77!2m2!1d103.8632811!2d1.3197579!1m5!1m1!1s0x31da1786e41b11fb:0x1300f7ac70e17646!2m2!1d103.875072!2d1.329208!3e2"
                class="btn btn-info btn-icon mb-3 mb-sm-0"
              >
                <span class="btn-inner--text viewMore">Direction</span>
              </a>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>
